html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  background-color: #87ceed; /*Couleur de fond (facultatif, ici un bleu ciel)#87ceed*/
}
#canvas {
  display: block;
  border: 5px solid black;
}
